<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>Linux Systems Engineer</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://linkedin.com/in/christianclinton">linkedin.com/in/christianclinton</a></li>
          <li><a href="https://github.com/christianclinton">github.com/christianclinton</a></li>
          <li><a href="https://twitter.com/lessmonotony">twitter.com/lessmonotony</a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
